<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Все товары</title>
</head>
<body>
	<h1>Все товары!!!!</h1>

{% for phone in all_phones %}
	<div>
		<p>id - {{phone.id }}</p>
		<p> Brand - {{ phone.brand }} </p>
		<p>
			<a href="detail-view/{{ phone.id }}">Детально о товаре ...</a>
		</p>
	</div>
{% endfor %}
</div>
</body>
</html>