<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <a href="/product/">Вернуться назад к товарам</a>

<h1> 
Вы захотели посмотреть на телефон - 
{{ phone_instance.brand }} 
{{ phone_instance.model }}
{{phone_instance.year }} года
 </h1>

<h2>И его цена - {{ phone_instance.price }} $</h2>

</body>
</html>